<section class="portfolio">
    <div class="container-xl">
        <div class="row ">
            <div class="col-12 col-md-3 p-0">
                <app-header   ></app-header>
            </div>
            <div class="col-12 col-md-9 p-0">
                <main>
                    <section>
                       
                        <router-outlet></router-outlet>
                        
                    </section>
                </main>
            </div>
        </div>
    </div>


    <footer>

    </footer>
</section>






<!-- <router-outlet /> -->